.wrapper{
	float: left;
	width: 100%;
}
header{
	float: left;
	width: 100%;
	margin-bottom: 50px;
	position: relative;
}
.navigation{
    float: left;
    width: 100%;
    text-align: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
    list-style: none;
    display: inline-block;
}
.navigation ul li{
    float: left;
    width: auto;
    margin-right: 25px;
    position: relative;
}
.navigation ul li:last-child{
    margin: 0;
}
.navigation ul li a{
    float: left;
    width: 100%;
    padding: 16px 0;
    line-height: normal;
    text-decoration:none;
    box-sizing:border-box;
    text-transform: uppercase;   
    -webkit-transition:color 0.3s,background-color 0.3s;
    -moz-transition:color 0.3s,background-color 0.3s;
    -ms-transition:color 0.3s,background-color 0.3s;
    -o-transition:color 0.3s,background-color 0.3s;
    transition:color 0.3s,background-color 0.3s;
}
.navigation .children {
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 1000;
    min-width: 240px;
    position: absolute;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -0-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkt-transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -ms-transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.navigation ul li .children  {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -ms-transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    visibility: hidden;
}
.navigation ul li:hover > .children  {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
}
.navigation ul li .children .children{
	left: 100%;
	top: 0;
}
.navigation ul li.last .children{
	right: 0;
	left: auto;
}
.navigation ul li.last .children .children{
	right: 100%;
	left: auto;
}
.navigation ul li .children li{
	float: left;
	width: 100%;
  margin:0;
}
.navigation ul li .children  a {  
    display: block;
    padding: 15px;
    text-align: left;
    border:1px solid #f2f2f2;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.navigation ul li .children li:hover >  a{
	color: #fff;
	background-color: #000;
}
.mbm-copyright{
	float: left;
	width: 100%;
	text-align:center;
}